{% extends 'base.html.twig' %}

{% block title %}Hello AdminDeleteVintageCardController!{% endblock %}

{% block body %}
    Est vous sur ?
    <button type="submit" onclick=window.location="{{ path('app_admin_delete_vintage_card',{id: id}) }}">OUI</button>
    <button type="submit" onclick=window.location="{{ path('app_admin_vintage',{id: id}) }}">Non</button>
{% endblock %}
