@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
  min-height: 100vh;
  background-color: #252525;
}
button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  border: 0;
}

*{
    font-family: Abel, serif;
}
.logo {
  width: 133px;
  position: relative;
}
.circle {
  filter: grayscale(0); 
  animation: circle 5s linear infinite;
  position: absolute;
  top: calc(50% - 53px);
  left: calc(50% - 26px);
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.title {
  width: 100%;
  text-align: center;
  color: white;
  font-family: Abel, serif;
  font-weight: 400;
}

.input {
  background: #141414;
  border-radius: 4px;
  width: 292px;
  height: 35px;
  color: white;
  font-size: 14px;
  border: 0;
  padding: 0 10px;
}
.label {
  position: relative;
  width: max-content;
  color: #929292;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.img {
  width: 24px;
  position: absolute;
  right: 15px;
  bottom: 5px;
  opacity: 0.5;
}
.button {
  padding: 13px 31px;
  border: 1px solid #4CAF50;
  border-radius: 4px;
  width: max-content;
  color: #4CAF50;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 16px;
}
.button:hover {
  background-color: #4CAF50;
  color: white;
}
.form {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.reg {
  gap: 10vh;
}

.icon {
  width: 24px;
  position: absolute;
  right: 15px;
  bottom: 5px;
  opacity: 0.5;
}
.navbar {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  height: 44px;
  background-color: #1D1D1D;
}
.links {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.item {
  position: relative;
}