

{% if image == null %}

    <button onclick=window.location="{{(path('app_admin_vintage_addCard',{id: id})) }}">Add</button>


{% else %}

<img src="data:image/jpg;base64,{{ image }}" class="__image" alt="{{ title }}">

{% endif %}